@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
.swiper-end .swiper-button-next {
  display: none;
}
.hide-prev ~ .book-prev {
  display: none;
}

.hide-next ~ .book-next {
  display: none;
}
